**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/*.db
**/*.db-wal
**/*.db-shm
**/publish/
**/Test/
**/.config/
**/dotnet-tools.json
**/coverage/
**/*.log
**/TestResults/
README.md
LICENSE